@font-face {
    font-family: 'dejavu-sans-condensed';
    src: url('../fonts/DejaVuSansCondensed.eot'); /* IE9 Compat Modes */
    src: url('../fonts/DejaVuSansCondensed.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/DejaVuSansCondensed.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/DejaVuSansCondensed.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/DejaVuSansCondensed.ttf')  format('truetype'), /* Safari, Android, iOS */
    url('../fonts/DejaVuSansCondensed.svg#svgFontName') format('svg'); /* Legacy iOS */
}

#gcw-error-dlg {
    display: none; /* Hidden by default */
    font-family: dejavu-sans-condensed, Arial, sans-serif;
    z-index: 10000; /* Sit on top */
    overflow: auto; /* Enable scroll if needed */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#gcw-error-dlg #gcw-error-dlg-middle {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    display: flex;
    justify-content: center;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content {
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    border: 1px solid #fff;
    background-color: #191919;
    position: relative;
    width: 50%;
    max-width: 520px;
    text-align: center;
    align-self: center;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-header {
    background-image: url(../images/cross.png);
    background-repeat: no-repeat;
    background-size: 70px;
    background-position: center 28px;
    padding-top: 140px;
    padding-left: 20px;
    padding-right: 20px;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-header h2 {
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
    color: #fff;
    font-size: 28px;
    line-height: 28px;
    position: relative;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-body {
    color: #FFFFFF;
    text-align: center;
    font-size: 17px;
    line-height: 24px;
    min-height: 90px;
    padding: 0 20px;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-body .gcw-error-dlg-content{
    padding-top: 15px;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content #gcw-error-dlg-close {
    display: inline-block;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin: 10px auto 40px;
    text-decoration: none;
    text-align: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 15px 20px;
    font-size: 28px;
    line-height: 28px;
    font-weight: bold;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content #gcw-error-dlg-close:hover {
    background-color: #333;
}

#gcw-error-dlg #gcw-error-dlg-middle .modal-content #gcw-error-dlg-close:focus {
    cursor: pointer;
}

@media (max-width: 768px) {
    #gcw-error-dlg #gcw-error-dlg-middle .modal-content {
        width: 70%;
        max-width: none;
    }

    #gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-header {
        padding-top: 110px;
        background-position: center 20px;
    }

    #gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-header h2 {
        font-size: 23px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    #gcw-error-dlg #gcw-error-dlg-middle .modal-content .modal-body {
        min-height: 25px;
        font-size: 15px;
        line-height: 16px;
    }

    #gcw-error-dlg #gcw-error-dlg-middle .modal-content #gcw-error-dlg-close {
        font-size: 18px;
        line-height: 21px;
        padding: 10px 15px;
        margin-top: 25px;
        margin-bottom: 15px;
    }
}
