body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background: #000
}

#html-err-ovl {
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
}

#html-err {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 999;
    transform: translate(-50%, -50%);
}

#html-content {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
}

#html-err-txt {
    position: fixed;
    top: 10%;
    left: 50%;
    width: 77%;
    transform: translate(-50%, 0%);
    font-family: Zantroke, MyriadBold, Arial;
    font-size: 30px;
    color: #FFFFFF;
}

#ios-fs {
    position: absolute;
    top: 0;
    bottom: -500px;
    left: 0;
    right: 0;
    display: none;
}

@font-face {
    font-family: dejavuSans;
    src: url('../assets/DEJAVUSANSCONDENSED.ttf');
}

@font-face {
    font-family: dejavuSansBold;
    src: url('../assets/DEJAVUSANSCONDENSED-BOLD.ttf');
}